<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>IANSA - Apoio humanizado</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="IANSA Franca - Apoio humanizado à pessoas adoecidas" />
    <meta name="keywords" content="IANSA, Franca, São Paulo, Apoio, ONG, Doença, Câncer, Humanizado, Apoio Humanizado" />
    <meta name="author" content="IANSA TI" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Animate.css -->
    <link rel="stylesheet" href="~/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="~/css/icomoon.css">
    <!-- Simple Line Icons -->
    <link rel="stylesheet" href="~/css/simple-line-icons.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/style.css">

    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">


    <!-- Modernizr JS -->
    <script src="~/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="~/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="fh5co-loader"></div>

    <div class="fh5co-main-nav">
        <div class="container">
            <div class="fh5co-menu-1">
                <a data-nav-section="home" asp-controller="Home" asp-action="Index" asp-route-view="">I.A.N.S.A.</a>
                <a data-nav-section="mission" asp-controller="Home" asp-action="Index" asp-route-view="mission">SOBRE</a>
                <a data-nav-section="services" asp-controller="Home" asp-action="Index" asp-route-view="services">SERVIÇOS</a>
                <a data-nav-section="doation" asp-controller="Home" asp-action="Index" asp-route-view="doation">SEJA UM MANTENEDOR</a>
                <a data-nav-section="team" asp-controller="Home" asp-action="Index" asp-route-view="team">EQUIPE</a>
                <a data-nav-section="contact" asp-controller="Home" asp-action="Index" asp-route-view="contact">CONTATO</a>

                @*<a  asp-controller="oferecemos" asp-action="Index">OFERCEMOS</a>*@
                @*<a  asp-controller="oficinas" asp-action="Index">OFICINAS</a>*@
                @*<a asp-controller="parceiros" asp-action="Index">PARCEIROS</a>*@
                @*<a  asp-controller="campanhas" asp-action="Index">CAMPANHAS</a>*@
                @*<a  asp-controller="midia" asp-action="Index">MÍDIA</a>*@
                @*<a  asp-controller="noticias" asp-action="Index">NOTÍCIAS</a>*@

                <a id="doe" href="https://pag.ae/bhg8d0n" target="_blank" class="btn btn-primary btn-doe">Doe Aqui!</a>
            </div>
        </div>
    </div>

    @RenderBody()

    <div id="fh5co-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p><small>&copy; 2017 IANSA. <br></small></p>
                </div>
                <div class="col-md-6">
                    <ul class="fh5co-social">
                        <li><a href="https://www.facebook.com/casadeapoioiansa/" target="_blank"><i class="icon-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/casadeapoioiansa/" target="_blank"><i class="icon-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="~/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="~/js/jquery.waypoints.min.js"></script>
    <!-- Stellar Parallax -->
    <script src="~/js/jquery.stellar.min.js"></script>
    <!-- Magnific Popup -->
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/magnific-popup-options.js"></script>
    <!-- Main JS -->
    <script src="~/js/main.js"></script>


    <script type="text/javascript">
        $(window).load(function () {
            $('html, body').animate({
                scrollTop: $('div[data-section="@ViewData["view"]"]').offset().top - 50
            }, 0, 'easeOutCirc');
        });
    </script>
</body>

</html>